
<h1>Browse Movies</h1>
<h4>Welcome <%= current_user.first_name %> </h4>
  <div>
  <%= button_to 'Log out', destroy_user_session_path, method: :delete %>

    <%= link_to 'Create a new movie', new_movie_path %>
  </div>
    <br>
    
        <ul class="row">
          <% @movies.each do |movie| %>
    
          <li class="col s4">
             <div class="card">
              <div class="card-image">
                   <div class="thumbnail">
                     <iframe src="<%=movie.trailer%>"></iframe>
               </div>
              </div>
              <br>
                 <span class="card-title text-grey darken-3"><%= link_to movie.title, movie_path(movie) %></span>
                 </div>
    
           <div class="card-content">
                 <!-- put descripion here -->
    
             <div class="card-action"><%= link_to 'edit', edit_movie_path(movie) %>
               <%= link_to 'delete', movie_path(movie), method: :delete%>
             </div>
    
               </div>
           <% end %>
           </div>
           </li>
    </ul>