<h1>Movie: <%= @movie.title %></h1>

<br>

<iframe src="<%= @movie.trailer %>" frameborder="0" allowfullscreen></iframe>
<ul>
  <a>-<%= @movie.genre %>-</a> <%= @movie.duration %> <a href="<%=@movie.description%>">Click here for a full description</a>
</ul>

<p>Comments:</p>
<ul>
  <% @movie.comments.each do |comment| %>
         <%= link_to comment.body %>
      [<%= link_to comment.user_id %>]  
    </li>
    
  <% end %>
</ul>
