<h1>Movie: <%= @movie.title %></h1>
<%= link_to '<< back', movies_path %>
<br>
<hr>

<iframe src="<%= @movie.trailer %>" frameborder="0" allowfullscreen></iframe>
<ul>
  <a>-<%= @movie.genre %>-</a> <%= @movie.duration %> <a href="<%=@movie.description%>">Click here for a full description</a>
</ul>

<p>Comments:</p>
<%= link_to 'new comment', new_movie_comment_path(@movie) %>
<ul>
  <% @movie.comments.each do |comment| %>
      <li> 
      <%= link_to User.find(comment.user_id).first_name, edit_user_registration_path(comment.user_id) %>   
      <!-- <%= User.find(comment.user_id).first_name %> -->
      @ 
      <%= comment.body %>
      [ 
        <%= link_to 'edit', edit_movie_comment_path(@movie, comment) %>
        <%= link_to 'delete', movie_path(@movie), method: :delete %>
      ]
    </li>
    
  <% end %>
</ul>
